{{ define "upload-profile-picture-progress-bar" }}
<!-- <div class="flex-col w-full">
    <div class="flex justify-between mb-1">
        <span class="text-xs font-medium">Flowbite</span>
        <span class="text-xs font-medium text-blue-700">Uploading... 45%</span>
    </div>
    <div class="w-full bg-gray-200 rounded-full h-2">
        <div class="bg-blue-600 h-2 rounded-full" style="width: 45%"></div>
    </div>
    <div class="text-xs mt-1">5.7 MB of 7.8 MB</div>
</div> -->
<div class="flex-col w-full">
    <div class="flex justify-between mb-1">
        <span class="text-xs font-medium">{{ .fileName }}</span>
        {{ if .failReason }}
            <span class="text-xs font-medium text-blue-700">Failed</span>
        {{ else }}
            <span class="text-xs font-medium text-blue-700">Uploading... 100%</span>
        {{ end }}
    </div>
    <div class="w-full bg-gray-200 rounded-full h-2">
        <div class="{{ if .failReason }}bg-red-600{{ else }}bg-blue-600{{ end }} h-2 rounded-full" {{ if .failReason }} style="width: 100%" {{ else }} style="width: 100%" {{ end }}></div>
    </div>
    {{ if .failReason }}
        <div class="text-xs mt-1">{{ .failReason }}</div>
    {{ else }}
        <div class="text-xs mt-1">{{ .fileSize }} MB of {{ .fileSize }} MB</div>
    {{ end }}
</div>
{{ end }}

{{ define "upload-profile-picture-progress-section" }}
<div class="flex items-center mt-6">
    {{ if eq .fileFormat "default" }}
        <img class="mr-4" style="width: 28px; height: 28px;" src="/static/images/file_formats/default-file-format-32px.png" alt="jpg-file-format">
    {{ else if eq .fileFormat "jpeg" }}
        <img class="mr-4" style="width: 28px; height: 28px;" src="/static/images/file_formats/jpg-file-format-32px.png" alt="jpg-file-format">
    {{ else if eq .fileFormat "png" }}
        <img class="mr-4" style="width: 28px; height: 28px;" src="/static/images/file_formats/png-file-format-32px.png" alt="jpg-file-format">
    {{ else if eq .fileFormat "gif" }}
        <img class="mr-4" style="width: 28px; height: 28px;" src="/static/images/file_formats/gif-file-format-32px.png" alt="jpg-file-format">
    {{ end }}
    {{ template "upload-profile-picture-progress-bar" . }}
</div>
{{ end }}

{{ define "upload-profile-picture-progress-section-wrapper" }}
<div id="upload-profile-picture-progress-section-wrapper" class="flex-col w-full">
    <div class="flex items-center mt-6 hidden">
        <img class="mr-4" style="width: 28px; height: 28px;" src="/static/images/file_formats/jpg-file-format-32px.png" alt="jpg-file-format">
    </div>
</div>
{{ end }}

{{ define "upload-profile-picture-modal-done-button" }}
<button id="upload-profile-picture-modal-done-button" hx-get="/v1/user/reset-upload-profile-picture-progress-section" hx-target="#upload-profile-picture-progress-section-wrapper" hx-swap="outerHTML" hx-swap-oob="true" type="button" @click="$event.target.setAttribute('disabled', '');$event.target.classList.add('cursor-not-allowed')" onclick="document.getElementById('upload-profile-picture-modal-close-button').click()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Done</button>
{{ end }}

{{ define "upload-profile-picture-modal" }}
<div id="upload-profile-picture-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="upload-profile-picture-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only" id="upload-profile-picture-modal-close-button">Close modal</span>
            </button>
            <div class="p-4 md:p-5">
                <h2 class="mb-4 text-xl font-bold text-gray-900 text-center">Upload picture</h2>
                <div class="flex items-center justify-center w-full">
                    <label for="upload-profile-picture-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500">PNG, JPG or GIF (MAX. 2MB)</p>
                        </div>
                        <form hx-target="#upload-profile-picture-progress-section-wrapper" hx-swap="beforeend" enctype="multipart/form-data" hx-post="/v1/user/upload-profile-picture" hx-trigger="input from:#upload-profile-picture-file">
                            <input accept=".jpg,.jpeg,.png,.gif" name="upload-profile-picture-file" type="file" class="hidden" id="upload-profile-picture-file"/>
                        </form>
                    </label>
                </div>

                {{ template "upload-profile-picture-progress-section-wrapper"}}
                <div class="flex items-center mt-6 space-x-4 rtl:space-x-reverse">
                    <button id="upload-profile-picture-modal-done-button" type="button" disabled class="cursor-not-allowed text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Done</button>
                    <button data-modal-hide="upload-profile-picture-modal" type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> 
{{ end }}

{{ define "user-profile-picture" }}
<img id="user-profile-picture" hx-swap-oob="true" class="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0" src="{{ .profilePictureURL }}" alt="user profile picture">
{{ end }}

{{ define "profile-picture-section" }}
{{ template "upload-profile-picture-modal" .}}
<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6">
    <div class="items-center sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4">
        <img id="user-profile-picture" class="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0" src="{{ .profilePictureURL }}" alt="user profile picture">
        {{ template "user-profile-picture" . }}
        <div>
            <h3 class="mb-1 text-xl font-bold text-gray-900">Profile picture</h3>
            <div class="mb-4 text-sm text-gray-500">
                JPG, GIF or PNG. Max size of 2MB
            </div>
            <div class="flex items-center space-x-4">
                <button data-modal-target="upload-profile-picture-modal" data-modal-toggle="upload-profile-picture-modal" type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300">
                    <svg class="w-4 h-4 mr-2 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>
                    Upload picture
                </button>
                <button type="button" class="py-2 px-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
{{ end }}