<script>
    document.title = "{{ .title }}";
</script>
{{ if .reload }}
{{ else }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script>
    function loadFromStorage(key) {
        try {
            if (sessionStorage.getItem(key) != null) {
                return sessionStorage.getItem(key);
            } else {
                return localStorage.getItem(key);
            }
        } catch (error) {
            console.error("Error retrieving from local storage:", error);
            return null;
        }
    }
    document.body.addEventListener('htmx:beforeSwap', function(evt) {
        // Allow 422, 400, 500 responses to swap
        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400 || evt.detail.xhr.status === 500) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
    document.body.addEventListener('saveToken', function(evt) {
        const saveTo = evt.detail.saveTo
        if (saveTo == "local") {
            localStorage.setItem("accessToken", evt.detail.accessToken)
            localStorage.setItem("refreshToken", evt.detail.refreshToken)
        } else {
            sessionStorage.setItem("accessToken", evt.detail.accessToken)
            sessionStorage.setItem("refreshToken", evt.detail.refreshToken)
        }
    });
    document.body.addEventListener('deleteToken', function(evt) {
        const deleteFrom = evt.detail.deleteFrom
        if (deleteFrom == "local") {
            localStorage.removeItem("accessToken")
            localStorage.removeItem("refreshToken")
        } else {
            sessionStorage.removeItem("accessToken")
            sessionStorage.removeItem("refreshToken")
        }
    });
    document.body.addEventListener('htmx:configRequest', function(evt) {
        const accessToken = loadFromStorage("accessToken");
        evt.detail.headers["Authorization"] = "Bearer " + accessToken;
        const refreshToken = loadFromStorage("refreshToken");
        evt.detail.headers["Refresh"] = "Bearer " + refreshToken;
        {{ if .reloadHeader }}
        evt.detail.headers["HX-Reload"] = "true";
        {{ end }}
    });
</script>
</body>
</html>
{{ end }}