{{ define "register-form" }}
<form class="space-y-4 md:space-y-6" hx-post="#" target="this" hx-swap="outerHTML">
    <div>
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
      <input type="text" {{ if .validationFail }} value="{{.inputData.username}}" {{ end }} name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
      {{ if and .validationFail .validationMap.username }}
      <p id="username_validation_msg" class="mt-2 -mb-4 text-sm text-red-600 dark:text-red-500">.validationMap.username</p>
      {{ end }}
  </div>
    <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
        <input type="email" {{ if .validationFail }} value="{{.inputData.email}}" {{ end }} name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
        {{ if and .validationFail .validationMap.email }}
        <p id="email_validation_msg" class="mt-2 -mb-4 text-sm text-red-600 dark:text-red-500">{{.validationMap.email}}</p>
        {{ end }}
    </div>
    <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
        <input type="password" {{ if .validationFail }} value="{{.inputData.password}}" {{ end }} name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
        {{ if and .validationFail .validationMap.password }}
        <p id="password_validation_msg" class="mt-2 -mb-4 text-sm text-red-600 dark:text-red-500">{{.validationMap.password}}</p>
        {{ end }}
    </div>
    <div>
        <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
        <input type="password" {{ if .validationFail }} value="{{.inputData.confirmPassword}}" {{ end }} name="confirm_password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
        {{ if and .validationFail .validationMap.confirmPassword }}
        <p id="confirm_password_validation_msg" class="mt-2 -mb-4 text-sm text-red-600 dark:text-red-500">{{.validationMap.confirmPassword}}</p>
        {{ end }}
    </div>
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create an account</button>
    <p class="text-sm font-light text-gray-500">
        Already have an account? <a href="/v1/auth/login" class="font-medium text-primary-600 hover:underline">Login here</a>
    </p>
</form>
{{ end }}

{{ template "header.html" . }}
{{ template "toast-section" .toastSettings }}
<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                  Create an account
              </h1>
              {{ template "register-form" . }}
          </div>
      </div>
  </div>
</section>

{{ template "footer.html" }}